openapi: 3.1.0
info:
  title: Google Chat CustomEmojis Members API
  description: 'The Google Chat REST API lets developers build Chat apps that send messages,

    manage spaces and members, post cards, handle slash commands, react to

    events, and integrate external services into Workspace conversations.

    Authentication uses OAuth 2.0 user credentials or service-account credentials

    for app-bot calls.

    '
  version: v1
servers:
- url: https://chat.googleapis.com
security:
- OAuth2:
  - chat.spaces
  - chat.messages
tags:
- name: Members
paths:
  /v1/{parent}/members:
    post:
      summary: Create membership
      operationId: createMembership
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Membership'
      responses:
        '200':
          description: Membership created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
      tags:
      - Members
    get:
      summary: List memberships
      operationId: listMemberships
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Membership list
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberships:
                    type: array
                    items:
                      $ref: '#/components/schemas/Membership'
                  nextPageToken:
                    type: string
      tags:
      - Members
components:
  schemas:
    Membership:
      type: object
      properties:
        name:
          type: string
        state:
          type: string
        role:
          type: string
        member:
          type: object
        createTime:
          type: string
          format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            chat.spaces: Manage Chat spaces
            chat.messages: Manage Chat messages
            chat.memberships: Manage Chat memberships
