openapi: 3.1.0
info:
  title: Google Chat CustomEmojis Google Chat API API
  description: 'The Google Chat REST API lets developers build Chat apps that send messages,

    manage spaces and members, post cards, handle slash commands, react to

    events, and integrate external services into Workspace conversations.

    Authentication uses OAuth 2.0 user credentials or service-account credentials

    for app-bot calls.

    '
  version: v1
servers:
- url: https://chat.googleapis.com
security:
- OAuth2:
  - chat.spaces
  - chat.messages
tags:
- name: Google Chat API
paths:
  /v1/{name}:
    get:
      summary: Get space
      operationId: getSpace
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        example: spaces/AAAA-BBBB
      responses:
        '200':
          description: Space details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
      tags:
      - Google Chat API
components:
  schemas:
    Space:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        spaceType:
          type: string
        singleUserBotDm:
          type: boolean
        threaded:
          type: boolean
        displayName:
          type: string
        spaceDetails:
          type: object
          properties:
            description:
              type: string
            guidelines:
              type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            chat.spaces: Manage Chat spaces
            chat.messages: Manage Chat messages
            chat.memberships: Manage Chat memberships
