openapi: 3.1.0
info:
  title: Google Chat CustomEmojis Reactions API
  description: 'The Google Chat REST API lets developers build Chat apps that send messages,

    manage spaces and members, post cards, handle slash commands, react to

    events, and integrate external services into Workspace conversations.

    Authentication uses OAuth 2.0 user credentials or service-account credentials

    for app-bot calls.

    '
  version: v1
servers:
- url: https://chat.googleapis.com
security:
- OAuth2:
  - chat.spaces
  - chat.messages
tags:
- name: Reactions
paths:
  /v1/{parent}/reactions:
    post:
      summary: Create reaction
      operationId: createReaction
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
        example: spaces/AAAA/messages/12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emoji:
                  type: object
                  properties:
                    unicode:
                      type: string
      responses:
        '200':
          description: Reaction
          content:
            application/json:
              schema:
                type: object
      tags:
      - Reactions
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            chat.spaces: Manage Chat spaces
            chat.messages: Manage Chat messages
            chat.memberships: Manage Chat memberships
