openapi: 3.1.0
info:
  title: Google Chat CustomEmojis Spaces API
  description: 'The Google Chat REST API lets developers build Chat apps that send messages,

    manage spaces and members, post cards, handle slash commands, react to

    events, and integrate external services into Workspace conversations.

    Authentication uses OAuth 2.0 user credentials or service-account credentials

    for app-bot calls.

    '
  version: v1
servers:
- url: https://chat.googleapis.com
security:
- OAuth2:
  - chat.spaces
  - chat.messages
tags:
- name: Spaces
paths:
  /v1/spaces:
    post:
      summary: Create space
      operationId: createSpace
      parameters:
      - name: requestId
        in: query
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Space'
      responses:
        '200':
          description: Created space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Space'
      tags:
      - Spaces
    get:
      summary: List spaces
      operationId: listSpaces
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of spaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  spaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Space'
                  nextPageToken:
                    type: string
      tags:
      - Spaces
components:
  schemas:
    Space:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        spaceType:
          type: string
        singleUserBotDm:
          type: boolean
        threaded:
          type: boolean
        displayName:
          type: string
        spaceDetails:
          type: object
          properties:
            description:
              type: string
            guidelines:
              type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            chat.spaces: Manage Chat spaces
            chat.messages: Manage Chat messages
            chat.memberships: Manage Chat memberships
